body {
	background-color:gray;
	font-family:Sans-serif;
}
#status {
	position:relative;
}
#planetView {
	position:absolute;
	top: 0px;
	left:0px;
	border:2px solid white;
	background-color:black;
	color:white;
	overflow:hidden;
}
#infoTab{
	color:white;
	position:absolute;
	width:300px;
	top:0px;
	background-color:black;
}
#buttonSpace{
	left:0px;
	position:absolute;
	height:50px;
	border:2px solid white;
	background-color:black;
}
.viewButton{
	color: white;
	background-color: black;
	border:2px solid white;
	height:100%;
	width:10%;
	float:left;
}
.viewButton:hover{
	color:black;
	background-color: white;
}
.removeButton{
	color: white;
	background-color: black;
	border:2px solid white;
	height:50px;
	width:100%;
	float:left;
}
.removeButton:hover{
	color:black;
	background-color: white;
}