body {
	background-color:gray;
	font-family:Sans-serif;
}
p {
	user-select:none;
}
.status {
	position:relative;
	user-select:none;
	text-align:center;
}
#planetView {
	position:absolute;
	top: 0px;
	left:0px;
	border:2px solid white;
	background-color:black;
	color:white;
	overflow:hidden;
	z-Index:1;
}
#infoTab{
	color:white;
	position:absolute;
	width:300px;
	top:0px;
	background-color:black;
	z-Index:1;
}
#buttonSpace{
	left:0px;
	position:absolute;
	height:50px;
	border:2px solid white;
	background-color:black;
	z-Index:1;
}
#loadingTab{
	background-color:black;
	border:2px solid white;
	z-Index:0;
	position:absolute;
}
.viewButton{
	color: white;
	background-color: black;
	border:2px solid white;
	height:100%;
	width:9.09%;
	float:left;
}
.viewButton:hover{
	color:black;
	background-color: white;
}
.viewButton:disabled{
	opacity:0.5;
	cursor: not-allowed;
}
.removeButton{
	color: white;
	background-color: black;
	border:2px solid white;
	height:50px;
	width:100%;
	float:left;
}
.removeButton:hover{
	color:black;
	background-color: white;
}
.stats{
	border:black;
	outline:none;
	background-color:black;
	color:white;
	font-size:16px;
	pointer-events:none;
}